@model JadooTravel.Dtos.FeatureDtos.GetFeatureByIdDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/Admin/Index.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <form method="post">
        <input type="hidden" asp-for="FeatureId" />

            <input type="text" asp-for="Tittle" placeholder="Başlığı Giriniz" class="form-control" />
            <br />
            <input type="text" asp-for="MainTittle" placeholder="Ana Başlığı Giriniz" class="form-control" />
            <br />
            <input type="text" asp-for="VideoUrl" placeholder="Video Urlsini Giriniz" class="form-control" />
            <br />
            <textarea asp-for="Description" placeholder="Açıklama Giriniz" rows="5" class="form-control"></textarea>
            <br />
        <button class="btn btn-primary">Özelliği Güncelle</button>
    </form>
</div>


