@model JadooTravel.Dtos.TestimonialDtos.GetTestimonialByIdDto

@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/Admin/Index.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <form method="post">
        <input type="hidden" asp-for="TestimonialId" />
        <input type="text" asp-for="NameSurname" placeholder="Ad Soyad Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="CityCountry" placeholder="Şehir ve Ülke Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="Comment" placeholder="Yorumunuzu Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="ImageUrl" placeholder="ımage url Giriniz" class="form-control" />
        <br />
        <button class="btn btn-primary">Yorum Güncelle</button>
    </form>
</div>

