@model JadooTravel.Dtos.TestimonialDtos.GetTestimonialByIdDto

@{
    ViewData["Title"] = "Yorumu Güncelle";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container py-5" style="max-width:600px;">
    <div class="card shadow-sm rounded-4 p-4">
        <h3 class="mb-4 fw-bold text-center">@ViewData["Title"]</h3>
        <form method="post">
            <input type="hidden" asp-for="TestimonialId" />
            <input type="text" asp-for="NameSurname" placeholder="Ad Soyad Giriniz" class="form-control mb-3" />
            <input type="text" asp-for="CityCountry" placeholder="Şehir ve Ülke Giriniz" class="form-control mb-3" />
            <input type="text" asp-for="Comment" placeholder="Yorumunuzu Giriniz" class="form-control mb-3" />
            <input type="text" asp-for="ImageUrl" placeholder="Image Url Giriniz" class="form-control mb-4" />
            <button class="btn btn-primary w-100">Yorumu Güncelle</button>
        </form>
    </div>
</div>
