@model List<JadooTravel.Dtos.RezervationDtos.CreateRezervationDto>

@{
    ViewData["Title"] = "RezervationList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ad Soyad</th>
            <th>Telefon Numarası</th>
            <th>Email</th>
            <th>Açıklama</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>#</td>
                <td>@item.AdSoyad</td>
                <td>@item.TelNo</td>
                <td>@item.Email</td>
                <td>@item.Description</td>
            </tr>
        }
    </table>
</div>


