
@*
_AdminFooterComponentPartial
*@

<div class="py-3 px-4 text-center bg-gray-50 rounded-lg shadow-sm">
    <p class="mb-0 text-sm text-gray-600 font-light">
        Design & Developed by <span class="font-medium text-gray-800">Duygu Kaya</span>
    </p>
</div>
