
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

@await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      
        @await Component.InvokeAsync("_DefaultNavbarComponentPartial")

        @await Component.InvokeAsync("_DefaultFeatureComponentPartial")

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        @await Component.InvokeAsync("_DefaultCategoryComponentPartial")
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        @await Component.InvokeAsync("_DefaultDestinationComponentPartial")
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        @await Component.InvokeAsync("_DefaultBookingStepsComponentPartial")
     
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        @await Component.InvokeAsync("_DefaultTestimonialComponentPartial")
        <!-- <section> close ============================-->
        <!-- ============================================-->


        <div class="position-relative pt-9 pt-lg-8 pb-6 pb-lg-8">
            <div class="container">
                <div class="row row-cols-lg-5 row-cols-md-3 row-cols-2 flex-center">
                    <div class="col">
                        <div class="card shadow-hover mb-4" style="border-radius:10px;">
                            <div class="card-body text-center"> <img class="img-fluid" src="/public/assets/img/partner/1.png" alt="" /></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-hover mb-4" style="border-radius:10px;">
                            <div class="card-body text-center"> <img class="img-fluid" src="/public/assets/img/partner/2.png" alt="" /></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-hover mb-4" style="border-radius:10px;">
                            <div class="card-body text-center"> <img class="img-fluid" src="/public/assets/img/partner/3.png" alt="" /></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-hover mb-4" style="border-radius:10px;">
                            <div class="card-body text-center"> <img class="img-fluid" src="/public/assets/img/partner/4.png" alt="" /></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-hover mb-4" style="border-radius:10px;">
                            <div class="card-body text-center"> <img class="img-fluid" src="/public/assets/img/partner/5.png" alt="" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        @await Component.InvokeAsync("_DefaultAIComponentPartial")
        <!-- <section> close ============================-->
        <!-- ============================================-->
      
  
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="vendors/fontawesome/all.min.js"></script>
    <script src="assets/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">
</body>

</html>
